
body{
    text-align: center;
    background-color: #EEE;
}
div{
    margin: 30px;
}
#output{
    font-size: 2em;
}
input[type=checkbox]{
    transform: scale(2);
    margin: 12px;
}
input[type=radio]{
    transform: scale(2);
    margin: 12px;
}

#instruments {
    margin:auto; 
    width:800px; 
    border: 1px;
    
}